<div class="row">
  <div class="col-xl-6">
    <app-card cardTitle="Bar [ Simple ] Chart" [options]="false">
     
    </app-card>
  </div>
  <div class="col-xl-6">
    <app-card cardTitle="Bar [ Stacked ] Chart" [options]="false">
     
      
    </app-card>
  </div>
  <div class="col-xl-6">
    <app-card cardTitle="Area [ Angle ] Chart" [options]="false">
      
    </app-card>
  </div>
  <div class="col-xl-6">
    <app-card cardTitle="Area [ Smooth ] Chart" [options]="false">
      
    </app-card>
  </div>
  <div class="col-xl-4 col-md-6">
    <app-card cardTitle="Line [ Angle ] Chart" [options]="false">
     
    </app-card>
  </div>
  <div class="col-xl-4 col-md-6">
    <app-card cardTitle="Line [ Smooth ] Chart" [options]="false">
     
    </app-card>
  </div>
  <div class="col-xl-4 col-md-6">
    <app-card cardTitle="Donut Chart" [options]="false">
    
    </app-card>
  </div>
</div>
