<div class="wrapper">
  <button (click)="addSkill()">Agregar Skill</button>

  <form [formGroup]="checkoutForm" class="form-parent">

      <div class="form-field">
          <input type="text" placeholder="Ingresa tu nombre" formControlName="name">
      </div>

      <div class="form-grid" formArrayName="skills">

          <div class="form-field" *ngFor="let skill of getCtrl('skills',checkoutForm).controls;index as formChild">

              <div class="form-block" [formGroupName]="formChild">
                  <div class="form-field">
                      <input type="text" placeholder="Lenguaje" formControlName="language">
                  </div>
                  <div class="form-field">
                      <input type="text" placeholder="projectUrl" formControlName="projectUrl">
                  </div>
                  <div class="form-field">
                      <input type="text" placeholder="expYear" formControlName="expYear">
                  </div>

                  <div class="form-field">
                    <input type="text" placeholder="expYear3" formControlName="expYear3">
                  </div>
              </div>

          </div>

      </div>

  </form>