.container_general_citas_medicas{
    display: flex;
    position: relative;
    overflow-x: auto;
    // width: 80%;
}
.scheduler{
  overflow-x: auto; 
  display: flex;
}
// .container_general_citas_medicas .templatesheduler{
//   width: 900px;
//   height: 500px;
//   overflow: hidden;
// }
.scrollable {
  display: flex;
  overflow-x: auto;
  width: 100%; 
  // .templatesheduler{
  //   width: 400px;
  //   overflow-x: auto;
  // }
}
.container_lateral_derecho{
    max-width: 320px;
    // width: 100%;
    height: 100%;
    padding-right: 10px;
    // border: 1px solid blue;
}

.titulo_container_lateral_derecho{
    height: 30px;
    flex-wrap: nowrap;
    display: flex;
    h2 {
        font-size: 16px;
        color: #6d6d6d;
        margin: 5px 0 0 0;
    }
    button {
        border: none;
        margin-left: auto;
        margin-right: 0;
        border-radius: 0 0 0 5px;
        background-color: #00000000;
        svg polyline{
            fill: #00000000;
            color: #6d6d6d;
            transition: all .3s ease;
        }
    }
    button:hover{
        svg polyline{
            color: rgb(175, 175, 175);
        }
    }
}
.con_formulario{
    margin-bottom: 10px;
    margin-top: 5px;
    dx-date-box{
        height: 30px;
        font-size: 15px;
    }
}
.rotarIcono180{
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}
.openClose{
    display: none !important;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    opacity: 0;
    animation: aparecer .5s forwards;
    .conForm{
        width: 450px;
        background-color: whitesmoke;
        border-radius: 5px;

    }
    .conAsignarCita{
        max-width: 1000px;
        width: 100%;
        height: 95vh;
        margin: 30px;
        overflow-y: scroll;
        overflow-x: hidden;
        background-color: whitesmoke;
        border-radius: 5px;
        
    }
}
.salir{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    button{
        margin-top: 10px;
        margin-right: 10px;
        border: none;
        background-color: #6d6d6d00;
        i{
            font-size: 18px;
            transition: all 300ms ease;
        }
        i:hover{
            color: #6d6d6d;
        }
    }
}
.centrarContenido{
    display: flex;
    align-items: center;
    .botones{
        width: 100%;
        padding: 32px 50px 50px 50px;
        button{
            width: 100%;
        }
    }
}
@keyframes aparecer {
    to{
        opacity: 1;
    }
}
// .dx-scheduler-work-space{
//   width: 40% !important;
// }

// @-moz-document url-prefix() {
//     .dx-scheduler-work-space-month .dx-scheduler-date-table-cell {
//       position: relative;
//     }
  
//     .dx-scheduler-work-space-month .dx-scheduler-date-table-cell .disable-date {
//       position: absolute;
//       width: 100%;
//       height: 100%;
//     }
//   }
  
  .disable-date,
  .dinner {
    height: 100%;
    width: 100%;
  }
  
  ::ng-deep .disable-date {
    background-image:
      repeating-linear-gradient(
        135deg,
        rgba(244, 67, 54, 0.1),
        rgba(244, 67, 54, 0.1) 4px,
        transparent 4px,
        transparent 9px
      );
    color: #9b6467;
  }
  
  ::ng-deep .dx-scheduler-header-panel-cell .disable-date {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .dinner {
    background: rgba(145, 255, 1, 0.2);
  }
  
  ::ng-deep .dx-scheduler-time-panel-cell .dinner {
    color: rgb(72, 107, 27);
    font-weight: 400;
    background: transparent;
  }
  
  .dx-draggable {
    cursor: auto;
  }
  
  // ::ng-deep td.dx-scheduler-time-panel-cell .dinner .cafe {
  //   height: 200%;
  //   width: 100%;
  //   left: 50%;
  //   // -webkit-mask: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M20 3H4v10c0 2.21 1.79 4 4 4h6c2.21 0 4-1.79 4-4v-3h2c1.11 0 2-.9 2-2V5c0-1.11-.89-2-2-2zm0 5h-2V5h2v3zM4 19h16v2H4z"/></svg>');
  //   -webkit-mask-repeat: no-repeat;
  //   -webkit-mask-position-y: 50%;
  //   -webkit-mask-position-x: 100%;
  //   margin-top: -4px;
  //   background-color: #ffc107;
  // }
  
  ::ng-deep .dx-scheduler-date-table-cell {
    padding: 0;
    opacity: 1;
  }
  
  @media all and (-ms-high-contrast: none) {
    ::ng-deep td.dx-scheduler-time-panel-cell .dinner .cafe {
      background-color: transparent;
    }
  }
  